<table>
  <thead>
    <th></th>
    <th>OS No</th>
    <th>Delivery Date</th>
    <th>Customer</th>
    <th>Terms</th>
    <th>Amount</th>
  </thead>
  <tbody><% sum = 0 %>
    <% @orders.each_with_index do |o,index| %>
    <tr>
      <td class="center"><%= index +1 %></td>
      <td class="center"><%= o.id %></td>
      <td class="center"><%= display_date(o.delivered_date) %></td>
      <td><%= o.customer.name %></td>
      <td class="center"><%= o.customer.terms %></td>
      <td class="right"><%= display_amount(o.total_amount) %><% sum = sum + o.total_amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= display_amount(sum) %>
