<%= form_for [@po,@po_detail] do |f| %>
  <% if @po_detail.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@po_detail.errors.count, "error")%> prohibited this entry from being saved:</h2>
        <ul>
          <% @po_detail.errors.full_messages.each do |d| %>
	    <li><%= msg %></li>
	  <% end %>
        </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :po_id %>
	<%= f.text_field :po_id, :readonly => 'readonly' %>
  </div>
  
  <div class="field">
  	<%= f.label :quantity %>
	<%= f.text_field :quantity %>
  </div>
  
  <div class="field">
  	<label>Unit</label>
	<%= f.text_field :unit %>
  </div>
  
  <div class="field">
  	<%= f.label :product_id %>
        <%= f.select :product_id, options_from_collection_for_select(@products, "id","name", @po_detail.product_id), :include_blank => true %>
  </div>
  
  <div class="field">
  	<label>Case Price</label>
	<%= f.text_field :case_price %>
  </div>
  
  <div class="actions">
  	<%= f.submit 'Save' %>&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel', po_path(@po) %>
  </div>
<% end %>
