<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@customer.errors.count, "error")%> prohibited this entry from being saved:</h2>
        <ul>
          <% @customer.errors.full_messages.each do |d| %>
		    <li><%= msg %></li>
		  <% end %>
        </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :name %>
	<%= f.text_field :name %>
  </div>
  
  <div class="field">
  	<%= f.label :address1 %>
	<%= f.text_field :address1 %>
  </div>
  
  <div class="field">
  	<%= f.label :address2 %>
	<%= f.text_field :address2 %>
  </div>
  
  <div class="field">
  	<%= f.label :city %>
	<%= f.text_field :city %>
  </div>
  
  <div class="field">
  	<%= f.label :province %>
	<%= f.text_field :province %>
  </div>
  
  <div class="field">
  	<%= f.label :region %>
	<%= f.text_field :region %>
  </div>
  
  <div class="field">
  	<%= f.label :zip_code %>
	<%= f.text_field :zip_code %>
  </div>
  
  <div class="field">
  	<%= f.label :contact_no %>
	<%= f.text_field :contact_no %>
  </div>
  
  <div class="field">
  	<%= f.label :fax_no %>
	<%= f.text_field :fax_no %>
  </div>
  
  <div class="field">
  	<%= f.label :mobile_no %>
	<%= f.text_field :mobile_no %>
  </div>
  
  <div class="field">
  	<%= f.label :contact_person %>
	<%= f.text_field :contact_person %>
  </div>
  
  <div class="field">
  	<%= f.label :terms %>
	<%= f.text_field :terms %>
  </div>
  
  <div class="field">
  	<%= f.label :details %>
	<%= f.text_area :details %>
  </div>
  
  
  <div class="actions">
  	<%= f.submit 'Save' %>&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel', customers_path %>
  </div>
<% end %>